<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>

<div id="shopping-list">
    <div class="header">
        <h1>{{ header.toLocaleUpperCase() }}</h1>
        <button v-if="state === 'default'" class="btn btn-primary" @click="changeState('edit')">Add Task</button>
        <button v-else class="btn btn-cancel" @click="changeState('default')">Cancel</button>
    </div>
    <div v-if="state === 'edit'" class="add-item-form">
        <input v-model="newItem" @keyup.enter="saveItem" type="text" placeholder="Add a Task">
        <p>{{ characterCount }}/200</p>
        <button class="btn btn-primary" @click="saveItem" :disabled="newItem.length < 1">Add Task</button>
    </div>
    <ul>
        <li v-for="item in reversedItems" @click="toggleDone(item)" :class="[item.done ? 'strikeout' : '', item.highPriority ? 'priority' : '']" >{{ item.label }}</li>
    </ul>
    <p v-if="items.length === 0">All Done!</p>
</div>
<script src="https://unpkg.com/vue"></script>
<script>
    var shoppingList = new Vue({
        el: '#shopping-list',
        data: {
            state: 'default',
            header: 'TODO APP',
            newItem: '',
            items: [
                {
                    label: 'test 1',
                    done: false,
                    highPriority: false
                },
                {
                    label: 'test 2',
                    done: true,
                    highPriority: false
                },
                {
                    label: 'test 3',
                    done: false,
                    highPriority: true
                },
            ]
        },
        computed: {
            characterCount() {
                return this.newItem.length;
            },
            reversedItems() {
                return this.items.slice(0).reverse();
            }
        },
        methods: {
            saveItem: function () {
                this.items.push({
                    label: this.newItem,
                    purchased: false
                });
                this.newItem = '';
            },
            changeState: function (newState) {
                this.state = newState;
                this.newItem = '';
            },
            toggleDone: function (item) {
               item.done = !item.done;
            }
        }
    })
</script>
</body>
</html>